<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace是SQL指令统一名空间和java中包概念一致 -->
<mapper namespace="com.mvc.mapper.CustomerDaoMapper">

	<!-- 查询指令 -->
	<!-- <select id="selectAll" resultType="Dept"> select * from dept </select> -->

	<!-- 通过Id查询 -->
	<!-- 单个类型参数，名称没有固定要求.只是一个占位符的作用 -->
	<select id="selectByName" parameterType="String" resultType="Customer">
		select * from customer where name=#{name}
	</select>
	<!-- insert into student(name,gender,major,grade) values(#{name},#{gender},#{major},#{grade}) -->
	<!-- 添加将实体类作为参数，占位符中写的实体类的属性名 -->
	<insert id="insert" parameterType="Customer">
		insert into
		customer(name,pass)
		values(#{name},#{pass})
	</insert>

	<update id="update" parameterType="Customer">
		update customer set
		pass={pass} where name={#name}
	</update>
</mapper>